<div class="toughts-comments-container">
        <figure>
            <blockquote>
                    "{{tought.title}}"
            </blockquote>
            <figcaption>por <span>{{this.User.name}}</span></figcaption>
        </figure>
    {{/each}}
</div>